<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/style_ganaste.css">
    <title>BATALLA NAVAL</title>
</head>
<body background="../static/imagenes/final.jpg" no-repeat center top>
    <center>
        <h2>🥊🥊🥊🥊🥊</h2>
        </br></br>
        <h6>PERDISTE {{datos.usuario}}</h6>
        <a href="../regresar1/">REGRESAR</a>
        
    </center>
    
    
</body>
</html>